In [29]:
import pandas as pd

## Import The Data

In [30]:
#Import the table from file

Product_Lookup = pd.read_csv("Data/AdventureWorks Product Lookup.csv")
Territory_Lookup = pd.read_csv("Data/AdventureWorks Territory Lookup.csv")
Return_Data = pd.read_csv("Data/AdventureWorks Returns Data.csv")

## Checking the datatypes

In [31]:
def Checking_Datatypes(df):
    print(df.dtypes)
    return df.head()

Product Lookup

In [32]:
#Checking The Datatypes:
Checking_Datatypes(Product_Lookup)

ProductKey                 int64
ProductSubcategoryKey      int64
ProductSKU                object
ProductName               object
ModelName                 object
ProductDescription        object
ProductColor              object
ProductSize               object
ProductStyle              object
ProductCost              float64
ProductPrice             float64
dtype: object

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,ProductPrice
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.9900
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,0,0,12.0278,33.6442
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,M,U,3.3963,9.5000
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,L,U,3.3963,9.5000
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,12.0278,33.6442

Territory Lookup

In [33]:
#Checking The Datatypes:
Checking_Datatypes(Territory_Lookup)

SalesTerritoryKey     int64
Region               object
Country              object
Continent            object
dtype: object

   SalesTerritoryKey     Region        Country      Continent
0                  1  Northwest  United States  North America
1                  2  Northeast  United States  North America
2                  3    Central  United States  North America
3                  4  Southwest  United States  North America
4                  5  Southeast  United States  North America

Return Data

In [34]:
#Changing The ReturnDate datatype Object to date
Return_Data["ReturnDate"] = pd.to_datetime(Return_Data["ReturnDate"])

#Checking The Datatypes:
Checking_Datatypes(Return_Data)

ReturnDate        datetime64[ns]
TerritoryKey               int64
ProductKey                 int64
ReturnQuantity             int64
dtype: object

  ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0 2020-01-18             9         312               1
1 2020-01-18            10         310               1
2 2020-01-21             8         346               1
3 2020-01-22             4         311               1
4 2020-02-02             6         312               1

## Checking Empty and Error in Table

In [35]:
# Function For Checking the Empty column
def Checking_Empty(df):
    return df.isnull().all()

#Function Return Null column from table
def Return_Empty(df,column):
    try:
        return df[df[column].isnull()]
    except KeyError:
        print("Check Your Table and Column Name")

Product Lookup

In [36]:
Return_Empty(Product_Lookup,"ProductKey")

Empty DataFrame
Columns: [ProductKey, ProductSubcategoryKey, ProductSKU, ProductName, ModelName, ProductDescription, ProductColor, ProductSize, ProductStyle, ProductCost, ProductPrice]
Index: []

Territory Lookup

In [37]:
Return_Empty(Territory_Lookup,"SalesTerritoryKey")

Empty DataFrame
Columns: [SalesTerritoryKey, Region, Country, Continent]
Index: []

Return Data

In [38]:
Return_Empty(Return_Data,"ReturnDate")

Empty DataFrame
Columns: [ReturnDate, TerritoryKey, ProductKey, ReturnQuantity]
Index: []

## Transform and Add Column

Product Lookup

In [39]:
# #Transform ProductStyle value 0 Replace the "NA"
# Product_Lookup["ProductStyle"] = Product_Lookup["ProductStyle"].replace("0","NA")
# Product_Lookup.head()

## Check The Number of Table

Product Lookup

In [40]:
len(Product_Lookup)

293

Territory Lookup

In [41]:
len(Territory_Lookup)

10

Return Data

In [42]:
len(Return_Data)

1809